body{
    overflow-x: hidden;
}

.no-bs-dark-1{
    background-color: rgb(10, 10, 10);
    color: rgb(228, 228, 228);
}

.no-bs-dark-2{
    background-color: rgb(17, 17, 17);
    color: rgb(231, 231, 231);
}

.no-bs-dark-3,.dropdown-item-dark:hover{
    background-color: rgb(26, 26, 26);
    color: rgb(238, 238, 238);
}

.no-bs-dark-4{
    background-color: rgb(39, 39, 39);
    color: white;
}

<<<<<<< HEAD
.manager-menu {
    display: none;
}

#products_list {
    display: block;
}
=======
.carousel-height, .carousel-height img{
    height:40vw;
}

.card-item{
    opacity:0.8;
}

.card-item:hover{
    cursor:pointer;
    opacity:1;
}
>>>>>>> user
