body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 0.5vw;
}

::-webkit-scrollbar-track{
    background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(83, 83, 83);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(95, 95, 95);
}


.no-bs-dark-1{
    background-color: rgb(10, 10, 10);
    color: rgb(228, 228, 228);
}

.no-bs-dark-2{
    background-color: rgb(17, 17, 17);
    color: rgb(231, 231, 231);
}

.no-bs-dark-3,.dropdown-item-dark:hover{
    background-color: rgb(26, 26, 26);
    color: rgb(238, 238, 238);
}

.btn.no-bs-dark-1:hover,.btn.no-bs-dark-2:hover,.btn.no-bs-dark-3:hover{
    background-color: rgb(228, 228, 228);
    color:rgb(26, 26, 26)
}

.no-bs-dark-4{
    background-color: rgb(39, 39, 39);
    color: white;
}

.manager-menu {
    display: none;
}

#products_list {
    display: block;
}
.carousel-height, .carousel-height img{
    height:40vw;
}

.card-item{
    opacity:0.8;
}

.card-item:hover{
    cursor:pointer;
    opacity:1;
}

.fullscreen-modal .modal-dialog{
   width: 100%;
   max-width: 900px;
   color: rgb(49, 49, 49);
}

.order-items{
    height:40vh;
    overflow: hidden;
}

.order-items:hover{
    overflow-y: auto;
}

.order-items img{
    max-width: 150px;
    width:30%;
    max-height: 80px;
    height:15vw;
}

.btn.text-light:hover{
    color:#ff0000;
}

.btn-empty-light{
    color:whitesmoke;
    text-shadow:0 3px rgb(199, 0, 0);
}

.btn-empty-light:hover{
    color:white;
}
